<main>
    <section class="title">
        <h1>Burgers</h1>
    </section>
    <div class="burger-list">

        <ul>
            {{#each burger}}
            <li>
            <p>{{id}}</p>
            <p>{{burger_name}}</p>
            <p>{{devoured}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="burger-list">

        <ul>
            {{#each burger}}
            <li>
                <p>{{id}}</p>
                <p>{{burger_name}}</p>
                <p>{{devoured}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</main>
